<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326366707466-vds1pt99rqv4cemrd7v24gfj7sm3t1vp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326366707466-vds1pt99rqv4cemrd7v24gfj7sm3t1vp</string>
	<key>API_KEY</key>
	<string>AIzaSyAvTJtEg1G49imsMZWB5-GXsRRWCmSba_M</string>
	<key>GCM_SENDER_ID</key>
	<string>326366707466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malekkashoqa.personalProject1</string>
	<key>PROJECT_ID</key>
	<string>my-personal-project-d4740</string>
	<key>STORAGE_BUCKET</key>
	<string>my-personal-project-d4740.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326366707466:ios:cded0029c1ffbb3e9704f3</string>
</dict>
</plist>